<header class='header'>
  <div class='header-logo'>
    <a class='header-logo-image' href='https://www.decaf.so'>
      <svg
        class='evoko-log-svg'
        xmlns='http://www.w3.org/2000/svg'
        xmlns:xlink='http://www.w3.org/1999/xlink'
        viewBox='0 0 258.55 75.07'
      ><defs><style
          >.cls-1{fill:none;}.cls-2{fill:#fff;}.cls-3{clip-path:url(#clip-path);}.cls-4{clip-path:url(#clip-path-2);}.cls-5{clip-path:url(#clip-path-3);}</style><clipPath
            id='clip-path'
            transform='translate(-133.89)'
          ><path
              class='cls-1'
              d='M77.66,5.16l-10.77,21h9.4a18.31,18.31,0,1,1,0,36.61H66.88l10.69,21a39.29,39.29,0,0,0,.09-78.53Z'
            /></clipPath><clipPath id='clip-path-2' transform='translate(-133.89)'><path
              class='cls-1'
              d='M76.29,83.7h-37a39.28,39.28,0,0,1,0-78.56h37a39.28,39.28,0,0,1,0,78.56Z'
            /></clipPath><clipPath id='clip-path-3' transform='translate(-133.89)'><path
              class='cls-1'
              d='M39.28,26.12h8.85L37.36,5.19a39.29,39.29,0,0,0,.09,78.48L48.13,62.73H39.28a18.31,18.31,0,1,1,0-36.61Z'
            /></clipPath></defs><g id='Layer_2' data-name='Layer 2'><g
            id='Layer_1-2'
            data-name='Layer 1'
          ><path
              class='cls-2'
              d='M192.32,41c0,20.15-13.85,33.23-35.14,33.23H133.89V7.56h23.29C178.47,7.56,192.32,20.74,192.32,41ZM156.71,62.84c14,0,22-8,22-21.86s-7.93-22.15-22-22.15h-9.46v44Z'
              transform='translate(-133.89)'
            /><path
              class='cls-2'
              d='M221.63,75.07c-15.37,0-26.54-10.7-26.54-27.31S206,20.45,221.63,20.45c15.28,0,26.07,10.41,26.07,26.16a30.92,30.92,0,0,1-.39,5.16H208.64c.67,7.83,6,12.22,12.7,12.22,5.73,0,8.88-2.86,10.6-6.4h14.42C243.5,67.33,234.71,75.07,221.63,75.07ZM208.74,42.79h25.11c-.19-7-5.73-11.36-12.6-11.36C214.85,31.43,209.79,35.54,208.74,42.79Z'
              transform='translate(-133.89)'
            /><path
              class='cls-2'
              d='M276.34,20.45c13.17,0,22.05,6.87,24.92,18.71H286.84c-1.53-4.48-5.06-7.35-10.6-7.35-7.45,0-12.41,5.64-12.41,16s5,15.85,12.41,15.85c5.54,0,9-2.48,10.6-7.26h14.42c-2.87,11.27-11.75,18.72-24.92,18.72-15.28,0-26.17-10.7-26.17-27.31S261.06,20.45,276.34,20.45Z'
              transform='translate(-133.89)'
            /><path
              class='cls-2'
              d='M328,20.45c8.5,0,14.32,4,17.47,8.4V21.31h13.47v52.9H345.46V66.47c-3.15,4.59-9.16,8.6-17.57,8.6-13.36,0-24.06-11-24.06-27.5S314.53,20.45,328,20.45Zm3.44,11.74c-7.16,0-13.94,5.35-13.94,15.38s6.78,15.75,13.94,15.75c7.35,0,14-5.54,14-15.56S338.78,32.19,331.43,32.19Z'
              transform='translate(-133.89)'
            /><path
              class='cls-2'
              d='M369.62,32.29h-6v-11h6V18.64c0-13,7.35-19,22.24-18.62V11.28c-6.49-.19-8.69,1.91-8.69,7.83v2.2h9.27v11h-9.27V74.21H369.62Z'
              transform='translate(-133.89)'
            /></g></g></svg>
      <span class='visibility-hidden'>Decaf website</span>
    </a>
    <a class='header-logo-title' href='/hc/en-us'>support</a>
  </div>

  <div class='header-desktop-search'>
    <svg
      xmlns='http://www.w3.org/2000/svg'
      width='12'
      height='12'
      focusable='false'
      viewBox='0 0 12 12'
      class='search-icon'
      aria-hidden='true'
    >
      <circle cx='4.5' cy='4.5' r='4' fill='none' stroke='currentColor' />
      <path stroke='currentColor' stroke-linecap='round' d='M11 11L7.5 7.5' />
    </svg>
    {{search submit=false instant=settings.instant_search placeholder='Search knowledge base...'}}
  </div>

  <div class='header-desktop-menu'>
    {{#if alternative_locales}}
      <div class='dropdown language-selector'>
        <button class='dropdown-toggle' aria-haspopup='true'>
          {{current_locale.name}}
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='12'
            height='12'
            focusable='false'
            viewBox='0 0 12 12'
            class='dropdown-chevron-icon'
          >
            <path
              fill='none'
              stroke='currentColor'
              stroke-linecap='round'
              d='M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5'
            />
          </svg>
        </button>
        <span class='dropdown-menu dropdown-menu-end' role='menu'>
          {{#each alternative_locales}}
            <a href='{{url}}' dir='{{direction}}' rel='nofollow' role='menuitem'>
              {{name}}
            </a>
          {{/each}}
        </span>
      </div>
    {{/if}}
  </div>

  {{!-- <button aria-expanded="false" aria-controls="mobile-menu" aria-label="{{t 'toggle_navigation'}}" class="header-mobile-menu-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" focusable="false" viewBox="0 0 16 16" aria-hidden="true" class="menu-icon">
      <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 3.5h13m-13 4h13m-13 4h13" />
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="x-icon">
      <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3" />
    </svg>
  </button> --}}
</header>

{{!-- <nav class="header-mobile-menu" aria-expanded="false" id="mobile-menu">
  <div class="header-mobile-menu-search">
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
      class="search-icon" aria-hidden="true">
      <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
      <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
    </svg>
    {{search submit=false instant=settings.instant_search placeholder="Search knowledge base..."}}
  </div>

  <ul>
    {{#if help_center.community_enabled}}
    <li>{{link 'community'}}</li>
    {{/if}}
    <li>{{link 'new_request'}}</li>
    {{#if signed_in}}
    <li>{{my_profile}}</li>
    <li>{{link "my_activities"}}</li>
    <li>{{change_password}}</li>
    <li>{{link "sign_out"}}</li>
    {{else}}
    <li>
      {{#link "sign_in"}}
      {{t 'sign_in'}}
      {{/link}}
    </li>
    {{/if}}
  </ul>
</nav> --}}